/* Trailer */
.trailer-box {
  margin-top: 1rem;
}

.trailer-box h3 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.trailer-box iframe {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: 1px solid #111827;
}

/* Seasons + Episodes */
.season-box {
  margin-top: 1rem;
}

.season-box h3 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

#seasonSelect {
  width: 100%;
  padding: 0.4rem;
  border-radius: 8px;
  background: #020617;
  color: white;
  border: 1px solid #1f2937;
  margin-bottom: 0.7rem;
}

.episode-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5rem;
}

.episode-item {
  padding: 0.5rem;
  background: #111827;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid #1f2937;
}

.episode-item:hover {
  background: #1f2937;
}